<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Расписание мастера</title>
        <style> body {background: #ffe3f6;
                        color: #f0f8ff;}
        </style>
</head>
<body link="#2f4f4f" vlink="#590c40" alink="#191970" bgcolor="black">

<center>
<!-- Если зашла как мастер, расписание выглядит так -->
        {% if 'loggedin' in session %}
        {% if session['role'] == 'master' %}
        <div>
            <a style="text-transform:uppercase" href="{{ url_for('home') }}">Главная</a> &nbsp
            <a style="text-transform:uppercase" href="{{ url_for('logout') }}">Выйти</a> &nbsp
        </div>

        <h2 style="text-transform:uppercase; color: #000000">Расписание</h2>
        <hr>

 <table class="table">
        <colgroup>
                <col span="5" style="background:#ffe3f6">
        </colgroup>

            <thead>
                <tr style="color: #6e1851;">
                    <th scope="col">Время записи</th>
                    <th scope="col">Название услуги</th>
                    <th scope="col">Длительность услуги</th>
                    <th scope="col">ФИО клиента</th>
                    <th scope="col">Номер телефона клиента</th>
                </tr>
            </thead>

            <tbody>
            {% for i in range(ttvisit_len) %}
                <tr style="color: #6e1851;">

                    <td align="center">{{ db_ttvisit[i][0] }}</td>
                    <td align="center">{{ db_ttvisit[i][1] }}</td>
                    <td align="center">{{ db_ttvisit[i][2] }}</td>
                    <td align="center">{{ db_ttvisit[i][3] }}</td>
                    <td align="center">{{ db_ttvisit[i][4] }}</td>


                  </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>

    <br><a href="{{ url_for('home') }}">Вернуться на главную страницу</a>


<!-- Если зашла как админ, расписание выглядит так -->
        {% elif session['role'] == 'admin' %}
        <div>
            <a style="text-transform:uppercase" href="{{ url_for('home') }}">Главная</a> &nbsp
            <a style="text-transform:uppercase" href="{{ url_for('paneladmin') }}">Панель администратора</a> &nbsp
            <a style="text-transform:uppercase" href="{{ url_for('logout') }}">Выйти</a> &nbsp
        </div>

        <h2 style="text-transform:uppercase; color: #000000">Расписание</h2>
        <hr>

    <a href="{{ url_for('add_servicett', master_date = master_date, id_master=id_master) }}">Добавить запись</a>
    <br><br>


<table class="table">
        <colgroup>
                <col span="6" style="background:#ffe3f6">
        </colgroup>

            <thead>
                <tr style="color: #6e1851;">
                    <th scope="col">Время записи</th>
                    <th scope="col">Название услуги</th>
                    <th scope="col">Длительность услуги</th>
                    <th scope="col">ФИО клиента</th>
                    <th scope="col">Номер телефона клиента</th>
                    <th scope="col">Подтверждение записи</th>
                    <th scope="col">Удаление записи</th>
                </tr>
            </thead>

            <tbody>
            {% for i in range(ttvisit_len) %}
                <tr style="color: #6e1851;">

                    <td align="center">{{ db_ttvisit[i][0] }}</td>
                    <td align="center">{{ db_ttvisit[i][1] }}</td>
                    <td align="center">{{ db_ttvisit[i][2] }}</td>
                    <td align="center">{{ db_ttvisit[i][3] }}</td>
                    <td align="center">{{ db_ttvisit[i][4] }}</td>
                    <td align="center">
                        <form action="{{ url_for('ttmaster', master_date = master_date, id_master=id_master)}}" method="post">
                            {{ redir_servicett_form.redirservtt_hidden_regform(value=db_ttvisit[i][0]) }}
                            {{ redir_servicett_form.redirservtt_submit_regform() }}
                        </form>
                    </td>
                    <td align="center">
                        <form action="{{ url_for('ttmaster', master_date = master_date, id_master=id_master)}}" method="post">
                            {{ delserv_ttmaster_form.idservtt_hidden_regform(value=db_ttvisit[i][0]) }}
                                {# {{ delserv_ttmaster_form.date_servtt_regform() }} #}
                            {{ delserv_ttmaster_form.idservtt_submit_regform() }}
                        </form>
                    </td>


                  </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>

    <a href="{{ url_for('timetable') }}">Вернуться назад</a><br>
    <a href="{{ url_for('paneladmin') }}">Вернуться  панель администратора</a>


        {% endif %}
        {% endif %}
</center>
</body>
</html>